// *********** Margin Left Start 
.ml-2{
    margin-left: 2px;
}
.ml-3{
    margin-left: 3px;
}
.ml-4{
    margin-left: 4px;
}
.ml-5{
    margin-left: 5px;
}
.ml-6{
    margin-left: 6px;
}
.ml-7{
    margin-left: 7px;
}
.ml-8{
    margin-left: 8px;
}
.ml-9{
    margin-left: 9px;
}
.ml-10{
    margin-left: 10px;
}
.ml-11{
    margin-left: 11px;
}
.ml-12{
    margin-left: 12px;
}
.ml-13{
    margin-left: 13px;
}
.ml-14{
    margin-left: 14px;
}
.ml-15{
    margin-left: 15px;
}
.ml-16{
    margin-left: 16px;
}
.ml-17{
    margin-left: 17px;
}
.ml-18{
    margin-left: 18px;
}
.ml-19{
    margin-left: 19px;
}
.ml-20{
    margin-left: 20px;
}


// *********** Margin Right Start 
.mr-2{
    margin-right: 2px;
}
.mr-3{
    margin-right: 3px;
}
.mr-4{
    margin-right: 4px;
}
.mr-5{
    margin-right: 5px;
}
.mr-6{
    margin-right: 6px;
}
.mr-7{
    margin-right: 7px;
}
.mr-8{
    margin-right: 8px;
}
.mr-9{
    margin-right: 9px;
}
.mr-10{
    margin-right: 10px;
}
.mr-11{
    margin-right: 11px;
}
.mr-12{
    margin-right: 12px;
}
.mr-13{
    margin-right: 13px;
}
.mr-14{
    margin-right: 14px;
}
.mr-15{
    margin-right: 15px;
}
.mr-16{
    margin-right: 16px;
}
.mr-17{
    margin-right: 17px;
}
.mr-18{
    margin-right: 18px;
}
.mr-19{
    margin-right: 19px;
}
.mr-20{
    margin-right: 20px;
}