// ********* Padding Left Start 
.pl-2{
    padding-left: 2px;
}
.pl-3{
    padding-left: 3px;
}
.pl-4{
    padding-left: 4px;
}
.pl-5{
    padding-left: 5px;
}
.pl-6{
    padding-left: 6px;
}
.pl-7{
    padding-left: 7px;
}
.pl-8{
    padding-left: 8px;
}
.pl-9{
    padding-left: 9px;
}
.pl-10{
    padding-left: 10px;
}
.pl-11{
    padding-left: 11px;
}
.pl-12{
    padding-left: 12px;
}
.pl-13{
    padding-left: 13px;
}
.pl-14{
    padding-left: 14px;
}
.pl-15{
    padding-left: 15px;
}
.pl-16{
    padding-left: 16px;
}
.pl-17{
    padding-left: 17px;
}
.pl-18{
    padding-left: 18px;
}
.pl-19{
    padding-left: 19px;
}
.pl-20{
    padding-left: 20px;
}

// ********* Padding Right Start 
.pr-2{
    padding-right: 2px;
}
.pr-3{
    padding-right: 3px;
}
.pr-4{
    padding-right: 4px;
}
.pr-5{
    padding-right: 5px;
}
.pr-6{
    padding-right: 6px;
}
.pr-7{
    padding-right: 7px;
}
.pr-8{
    padding-right: 8px;
}
.pr-9{
    padding-right: 9px;
}
.pr-10{
    padding-right: 10px;
}
.pr-11{
    padding-right: 11px;
}
.pr-12{
    padding-right: 12px;
}
.pr-13{
    padding-right: 13px;
}
.pr-14{
    padding-right: 14px;
}
.pr-15{
    padding-right: 15px;
}
.pr-16{
    padding-right: 16px;
}
.pr-17{
    padding-right: 17px;
}
.pr-18{
    padding-right: 18px;
}
.pr-19{
    padding-right: 19px;
}
.pr-20{
    padding-right: 20px;
}